
<div class="container text-center">
  <h1>Choix de la maison  </h1>
  <div class="list-houses">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% @houses.each do |house| %>
          <div class="flatcard border border-primary">
            <h2><%= house.name %></h2>
            <%= house.image %>

            <span>
              <%= link_to "Réservez-moi !", house_path(house), class: "btn btn-danger btn-block" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
                <%= image_tag "maison.jpg", height: 200 %>

  </div>
</div>
<div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @house.image, height: 300, width: 400, crop: :fill %>')">
  <div class="card-category">Popular</div>
</div>
