<div class="container">
  <div class="index-title text-center">
    <h1>List of all the bookings</h1>
  </div>

  <div class="background-white">
    <% @bookings.each do |booking| %>
      <div class="flat_card">
        <div class="col-xs-8 col-xs-offset-0">
          <br>
          <p><%= booking.house.name %> by <strong>
             <%= booking.user.name %></strong>
             <%= booking.start_on %> - <%= booking.end_on %> Soit : <%= (1 + (booking.end_on - booking.start_on)).to_i %> nuits.</p>

          <%= link_to edit_booking_path(booking), class: "bottom-menu-element" do %>
            <i class="fas fa-edit fa-1x bottom-menu-img"></i>
           Edit booking
          <% end %>

          <%= link_to booking_path(booking), method: :delete,
            data: { confirm: "Are you sure ?" }, class: "bottom-menu-element" do %>
            <i class="fas fa-trash-alt fa-1x bottom-menu-img"></i>
            Delete Booking

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
