<!-- page inutile ?
 -->

<!-- <div class="container">
  <div class="update" style="text-align: center">
    <h2> thanks to update your booking</h2>
      <h3><%= @house.name %></h3>

      <%= simple_form_for [@house, @booking] do |f| %>
        <div class="form-inputs col-xs-8 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" >
          <%= f.input :start_on %>
          <%= f.input :end_on %>
        </div>

        <div class="form-actions col-xs-8 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" >
          <%= f.submit "Save", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    <%= image_tag "calendrier.png", height: 200 %>
  </div>
</div>
 -->
