<p> thanks to update your booking</p>



<p>Name : <%= @house.name %></p>

<div class="col-md-3">
  <%= simple_form_for [@house, @booking] do |f| %>
    <%= f.input :start_on %>
    <%= f.input :end_on %>
    <%= f.submit "Save", class: "btn btn-primary btn-block" %>
  <% end %>
</div>

