<html>
  <body>

    <div class="banner text-center"
  style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.2) 20%),
  url(<%= image_path 'maison.jpg' %>)">

      <h1>Bienvenue !</h1>
      <p>Petite application pour renseigner les dates de vacances à Neuvic, afin de savoir qui est là et quand. </p>
      <%= link_to "Commencer", houses_path, class: "btn btn-danger btn-lg"  %>
    </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
           <%= image_tag "briefcase.png", height: 100 %>
          <h2>Rapide</h2>
          <p>Une app <strong>rapide,</strong> très rapide</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <%= image_tag "diamond.png", height: 100 %>
            <h2>Simple</h2>
            <p>Une app, <strong>simple,</strong> très simple</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <%= image_tag "heart.png", height: 100 %>
            <h2>Pratique</h2>
            <p>Une app, <strong>pratique, </strong> très pratique</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <%= image_tag "laptop.png", height: 100 %>
            <h2>Jolie</h2>
            <p>Une app, <strong>jolie,</strong> très jolie</p>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <p>Copyright Benoît Mathonat SAS. 2018. Tout droit réservés</p>
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </body>
</html>

